
@{
    ViewBag.Title = "Doctors";
}

<h2>Doctors</h2>

<div>
    <h4>Viewing as a doctor</h4>
    <hr />
    <dl class="dl-vertical">

        <dd>
            @Html.ActionLink("Recovered Patients List", "DoctorsChoice", "Account", new { choice = 1 }, null)
        </dd>
        <dd>
            @Html.ActionLink("Symptoms provider Patients", "DoctorsChoice", "Account", new { choice = 2 }, null)
        </dd>
        <dd>
            @Html.ActionLink("Unverified patients status", "DoctorsChoice", "Account", new{ choice = 3}, null)
        </dd>
    </dl>
</div>