
@{
    ViewBag.Title = "SuspectedList";
}

<h2>SuspectedList</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="">Name</th>
            <th scope="Area">Phone</th>
            <th scope="District">Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark </td>
            <td>7523906280</td>
            <td>Gulshan, Dhaka -1212</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Andrew Ng</td>
            <td>6220906280</td>
            <td>Badda, Dhaka -1235</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Alex Ferguson </td>
            <td>6523906253</td>
            <td>Homna, Comilla</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Abul Halim</td>
            <td>2623606279</td>
            <td>Miapara, KishorGonj</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Anirban Saha</td>
            <td>9234988817</td>
            <td>Mollapara, sherpur</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Md. Lokman</td>
            <td>6523906212</td>
            <td>Abdullahpur, Gazipur</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Abul Ahad</td>
            <td>2023906269</td>
            <td>Badda, Dhaka -1212</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Mokbul Saha</td>
            <td>523906287</td>
            <td>Chokbazar, Chittagonj</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Md. Rahman</td>
            <td>8523906281</td>
            <td>Kuril, Dhaka</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Asik Rahman</td>
            <td>01239062</td>
            <td>Shantinagar, Dhaka -1212</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Abdul Haque</td>
            <td>18738219738</td>
            <td>Sherpur, Dhaka -1212</td>
           
        </tr>
    </tbody>
</table>