@{
    ViewBag.Title = "About";
}

<div style="padding: 100px;background-color: #C9D4F1;">

    <h2 style="color:#16213e">What is COVID?</h2>
    <h4 style="color: #0f3460;">
        COVID-19 is caused by a coronavirus called SARS-CoV-2. Older adults and people who have severe underlying medical conditions like heart or lung disease or diabetes seem to be at higher risk for developing more serious complications from COVID-19 illness.
    </h4>
    <br />


    <h2 style="color:#16213e">Symptoms of COVID</h2>
    <h4 style="color: #0f3460;">
        Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have fever or chills,
        cough,
        shortness of breath or difficulty breathing,
        fatigue,
        muscle or body aches,
        headache,
        new loss of taste or smell,
        sore throat,
        congestion or runny nose,
        nausea or vomiting,
        diarrhea.
        <br />
        <br />
        Look for emergency warning signs for COVID-19. If someone is showing any of these signs, seek emergency medical care immediately:
        rrouble breathing, persistent pain or pressure in the chest, new confusion, inability to wake or stay awake, bluish lips or face.
    </h4>
    <br />


    <h2 style="color:#16213e">Prevention</h2>
    <h4 style="color: #0f3460;">

        The best way to prevent illness is to avoid being exposed to this virus. Learn how COVID-19 spreads and practice these actions to help prevent the spread of this illness.

    </h4>
    <br />

    <h4 style="color: #0f3460;">
        To help prevent the spread of COVID-19, everyone should:
        Clean your hands often, either with soap and water for 20 seconds or a hand sanitizer that contains at least 60% alcohol.
        Avoid close contact with people who are sick.
        Put distance between yourself and other people (at least 6 feet).
        Cover your mouth and nose with a mask when around others.
        Cover your cough or sneeze with a tissue, then throw the tissue in the trash.
        Clean and disinfect frequently touched objects and surfaces daily.
        CDC recommends that people wear masks in public settings and when around people outside of their household, especially when other social distancing measures are difficult to maintain.
        Masks may help prevent people who have COVID-19 from spreading the virus to others.

    </h4>
    <br />

    <h2 style="color:#16213e">Treatment</h2>
    <h4 style="color: #0f3460;">

        If you have possible or confirmed COVID-19:
        Stay home except to get medical care.
        Monitor your symptoms carefully. If your symptoms get worse, call your healthcare provider immediately.
        Get rest and stay hydrated. Take over-the-counter medicines, such as acetaminophen, to help you feel better.
        If you have a medical appointment, notify your healthcare provider ahead of time that you have or may have COVID-19.
        Stay in a specific room and away from other people in your home. If possible, use a separate bathroom. If you must be around others, wear a mask.
    </h4>

    <h4 style="color: #0f3460;">

        Stay in touch with your doctor. Call before you get medical care.
        Your local health authorities may give instructions on checking your symptoms and reporting information.
    </h4>




</div>

