@{
    ViewBag.Title = "Contact";
}

<div style="padding: 50px;background-color: #C9D4F1;">

    <h2 style="color:#16213e">Emergency Contacts</h2>
    <h5 style="color: #0f3460;font-weight: bold">For emergency contact use the following numbers. </h5>
    <br />
    <h3 style="color: #0f3460;font-weight: bold">Hotline: 12345678 </h3>
    <h3 style="color: #0f3460;font-weight: bold">Hotline 2: 456789 </h3>


    <address>
        <strong>Email:</strong>   <a href="mailto:covid_bd_emergency@gmail.com">covid_bd_emergency@gmail.com</a><br />
    </address>


</div>
    