
@{
    ViewBag.Title = "World";
}

<h2 style="color:#16213e">Zones Risk levels</h2>
<h5 style="color: #0f3460;font-weight: bold">Find the updated list of areas with risk level in the list below. Areas are are listed in the increasing order of zip Code </h5>
<br/>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="">#</th>
            <th scope="Area">Area</th>
            <th scope="District">Disctict</th>
            <th scope="Zip Code">Zip Code</th>
            <th scope="Zip Code">Risk Level</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Dhanmondi</td>
            <td>Dhaka</td>
            <td>1215</td>
            <td style="color: #ff0000;font-weight: bold"> High</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">2</th>
            <td>Uttara</td>
            <td>Dhaka</td>
            <td>1220</td>
            <td style="color: #D2691E;font-weight: bold">Medium</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">3</th>
            <td>Rampura</td>
            <td>Dhaka</td>
            <td>1275</td>
            <td style="color: #228B22;font-weight: bold"> Low</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">4</th>
            <td>Gulshan</td>
            <td>Dhaka</td>
            <td>1450</td>
            <td style="color: #228B22;font-weight: bold"> Low</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">5</th>
            <td>Pachlaish</td>
            <td>Chittagong</td>
            <td>1820 </td>
            <td style="color: #D2691E;font-weight: bold">Medium</td>
        </tr>
    </tbody>


    <tbody>
        <tr>
            <th scope="row">6</th>
            <td>Kotoali</td>
            <td>Chittagong</td>
            <td>2010</td>
            <td style="color: #ff0000;font-weight: bold"> High</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">7</th>
            <td>Zinda Bazar</td>
            <td>Sylhet</td>
            <td>2120</td>
            <td style="color: #ff0000;font-weight: bold"> High</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">8</th>
            <td>Sust</td>
            <td>Sylhet</td>
            <td>2650</td>
            <td style="color: #D2691E;font-weight: bold">Medium</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">9</th>
            <td>Bazar road</td>
            <td>Cox's Bazar</td>
            <td>2710</td>
            <td style="color: #D2691E;font-weight: bold">Medium</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">10</th>
            <td>Sonapur</td>
            <td>Mymensingh</td>
            <td>3120</td>
            <td style="color: #228B22;font-weight: bold"> Low</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">2</th>
            <td>kotowali</td>
            <td>Chittagong</td>
            <td>3310</td>
            <td style="color: #D2691E;font-weight: bold">Medium</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">3</th>
            <td>Sadar</td>
            <td>Cumilla</td>
            <td>3410</td>
            <td style="color: #228B22;font-weight: bold"> Low</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">4</th>
            <td>Birishiri</td>
            <td>Netrokona</td>
            <td>3450</td>
            <td style="color: #228B22;font-weight: bold"> Low</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">5</th>
            <td>Nilgiri</td>
            <td>Banderban</td>
            <td>3720</td>
            <td style="color: #D2691E;font-weight: bold">Medium</td>
        </tr>
    </tbody>


    <tbody>
        <tr>
            <th scope="row">6</th>
            <td>Nilachal</td>
            <td>Bandarban</td>
            <td>4120</td>
            <td style="color: #ff0000;font-weight: bold"> High</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">7</th>
            <td>Pahartali</td>
            <td>Chittagong</td>
            <td>4250</td>
            <td style="color: #ff0000;font-weight: bold"> High</td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <th scope="row">8</th>
            <td>Sadar</td>
            <td>Tangail</td>
            <td>4340</td>
            <td style="color: #D2691E;font-weight: bold">Medium</td>
        </tr>
    </tbody>

</table>

